body {
  margin: 0;
  background-color: white;
  font-family : 'Montserrat', sans-serif;
  text-align: center;
}

#board {
  width: 450px;
  height: 450px;
  margin: 15px auto;
  padding: 0;
}

.square {
  width: 125px;
  height: 125px;
  box-sizing: border-box;
  float: left;
  margin: 5px;
  background-color: #F5F1F0;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

.square:hover {
  background-color: pink;
}

.game-over {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.mask {
  background-color: grey;
  opacity: 0.4;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winner-container {
  width: 250px;
  height: 200px;
  margin-top: -350px;
  margin-left: -45px;
  background-color: pink;
}

.winner-text {
  margin-top: 25%;
}

#restart {
  border-radius: 5px;
  padding: 5px 5px;
  margin-top: 25px;
  color: #B5AEB5;
  background: #F5F1F0;
  font-size: 12px;
  border:none;
  cursor: pointer;
}

#restart:focus {
  outline: none;
}

#restart:hover {
  background-color: grey;
}